<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.framework.architecture.ordermgr.dao.OrderDetailDAO">  
<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 -->  
    <!-- 
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
     -->  
    <cache type="org.mybatis.caches.ehcache.EhcacheCache" />
	
     <insert id="insertModel" parameterType="ODM">
     	insert into tbl_orderDetail (orderUuid,goodsUuid,orderNum,price,money,saveMoney) 
     	 values(#{orderUuid},#{goodsUuid},#{orderNum},#{price},#{money},#{saveMoney})
     </insert>
     <update id="updateModel" parameterType="ODM">
     	update tbl_orderDetail set orderUuid=#{orderUuid},goodsUuid=#{goodsUuid},orderNum=#{orderNum},price=#{price},money=#{money},saveMoney=#{saveMoney}
     	   	where uuid=#{uuid}
     </update>
     <delete id="removeModel" parameterType="int">
     	delete from tbl_orderDetail where uuid=#{uuid}
     </delete>
     
    <select id="getModelByKey" parameterType="int" resultType="ODM">  
        select * from tbl_orderDetail where uuid=#{uuid}
    </select>  
    <select id="getListByConditionPage" parameterType="ODQM" resultType="ODM">  
        select * from tbl_orderDetail
        <where>
        	<if test="uuid!=null &amp;&amp; uuid > 0">
        		and uuid=#{uuid}
        	</if>  
        	
        </where>
    </select> 
</mapper>