<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.framework.architecture.goodsmgr.vo.GoodsModel" alias="GM"/>
		<typeAlias type="com.framework.architecture.goodsmgr.vo.GoodsQueryModel" alias="GQM"/>
		<typeAlias type="com.framework.architecture.ordermgr.vo.OrderModel" alias="OM"/>
		<typeAlias type="com.framework.architecture.ordermgr.vo.OrderQueryModel" alias="OQM"/>
		<typeAlias type="com.framework.architecture.ordermgr.vo.OrderDetailQueryModel" alias="ODQM"/>
		<typeAlias type="com.framework.architecture.ordermgr.vo.OrderDetailModel" alias="ODM"/>
		<typeAlias type="com.framework.architecture.storemgr.vo.StoreModel" alias="StoreM"/>
		<typeAlias type="com.framework.architecture.storemgr.vo.StoreQueryModel" alias="StoreQM"/>
		<typeAlias type="com.framework.architecture.cartmgr.vo.CartModel" alias="CartM"/>
		<typeAlias type="com.framework.architecture.cartmgr.vo.CartQueryModel" alias="CartQM"/>
		<typeAlias type="com.framework.architecture.customerMgr.vo.CustomerModel" alias="CM"/>
		<typeAlias type="com.framework.architecture.customerMgr.vo.CustomerQueryModel" alias="CQM"/>

	</typeAliases>

	<plugins>
		<plugin interceptor="com.framework.architecture.pageutil.PagePlugin">
			<property name="dialect" value="mysql"/>
			<property name="pageSqlId" value=".*Page.*"/>
		</plugin>
	</plugins>

</configuration> 